.grid-container {
    display: grid;
    gap: 1.5vw 1.5vw;
    grid-template-columns: auto auto auto;
    background-color: rgb(226, 226, 226);
    margin-left: auto;
    margin-right: auto;
    padding: 3vw;
    justify-content: center;
    border-radius: 15vw;
  }


.gridButton {
  background-color: transparent;
  border: 0px;
}

@media only screen and (max-width: 600px) {
  .grid-container {
    padding-left: 3px;
    padding-right: 3px;

    gap: 2vw 8vw;
  }
}