img {
  width: 80px;
  height: 80px;
  border-radius: 70px;
  object-fit: cover;
  border: none;
}

/* img:hover {
    width: 90.1px;
    height: 90.1px;
    z-index: 2;
} */

.pic {
  width: 120px;
  height: 120px;
  display: block;
  position: absolute;
  top: 32%;
  margin-left: 46%;
  margin-right: 50%;
  z-index: 1;
  border-color: black;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

/* .pic:hover {
    width: 100px;
    height: 100px;
} */

.navImage {
  height: 40px;
  width: 40px;
}

.navImage:hover {
  height: 40px;
  width: 40px;
}

@media only screen and (max-width: 600px) {
    .pic {
        max-width: 70px;
        max-height: 70px;

        margin-left: 44%;
        margin-right: 46%;
        margin-top: -30%;
      }
  }

/* @media only screen and (max-width: 1000px) {
    .pic {
        max-width: 100px;
        max-height: 100px;
      }
  } */
