.grid-container {
    display: grid;
    gap: 20px 20px;
    grid-template-columns: auto auto auto;
    background-color: rgb(226, 241, 241);
    padding: 8%;
    width: 80%;
    margin-left: 15%;
    margin-right: 50%;
  }


button {
  background-color: transparent;
  border: 0px;
}