/* Common styles for all screen sizes */
.map-page {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 7vh; /* Center items vertically */
}

.map-header {
  display: flex;
  flex-direction: row; /* Horizontal layout for larger screens */
  align-items: center;
  padding-right: 50px;
}

.map-title {
  margin-left: 3vw;
  flex-grow: 1;
  color: #283845;
  font-size: 40px;
  text-align: center;
}

.map-form-container {
  max-width: 400px;
  max-height: 150px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1vh;
  background-color: #f2d492;
}

.zipcode-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.zipcode-container input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #283845;
  border-radius: 5px;
  max-height: 5vh;
  background-color: #f5e0b2;
}

.zipcode-container button {
  padding: 10px;
  font-size: 16px;
  background-color: #283845;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.zipcode-container button:hover {
  background-color: #0056b3;
}

.select-container {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.select-container select {
  padding-left: 7px;
  width: 100%;
  border: 1px solid #283845;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background-color: #f5e0b2;
  transition: border-color 0.3s ease;
}

.select-container select:hover {
  background-color: #e3d3ab;
}

.select-container select:focus {
  border-color: #007bff;
}

.map-container {
  border-radius: 15px;
  border: 9px solid #283845;
  width: 100%; /* Set the width as needed */
}

/* Responsive adjustments for small screens */
@media screen and (max-width: 600px) {
  .map-header {
    flex-direction: column; /* Vertical layout for small screens */
    margin-bottom: 5vh;
  }

  .map-title {
    margin-top: 5vh;
    font-size: medium; /* Adjust the font size for smaller screens */
  }

  .zipcode-container,
  .select-container {
    flex-direction: column; /* Stack elements vertically on small screens */
  }
  .map-page {
    margin: 0;
  }
}
