.navbar {
    background: linear-gradient(to bottom, #33ccff 0%, rgba(62, 118, 249, 0.91));
    color: white;

    position: fixed;

    font-size: small;
    
    border-radius: 28px;
    width: 98%;
    margin: auto; 
    margin-top: 1%;
    
    display: inline-block;
  }
  
#navTag {
    text-align: left;
    width: 40%;
}

.navHome {
  font-size: large;
  text-decoration: none;
  font-weight: lighter;
  color: white;

  margin-left: 1%;
}

.navLink {
  color: white;
  text-decoration: none;
  margin: 8%;
  font-size: 0.8vw;
}

.profileLink {
  color:black;
  text-decoration: none;
  font-size: 1vw;
  text-align: center;
}

#logoutButton {
  background-color: transparent;
  border: none;
  color: rgb(255, 0, 0);
  text-align: center;
  padding: 0;
  font-size: 1vw;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 1%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    padding: 22px 26px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);


    border-radius: 10px;
    background-color:rgb(231, 231, 231);

    margin: auto;

    right: 0px;
    top: 100%;

  }

.dropdown:hover .dropdown-content {
    display: block;
  }

.hrColor {
  color:black;
}

  @media only screen and (max-width: 600px) {
    .navbar {
      border-radius: 0px;
      margin-top: 0%;
      padding: 0px;
      position:static;
      width: 100%;
    }

    .navLink {
      margin: 1.5%;
      font-size: 2%;
    }

    .navHome {
      margin-left: 2.5%;
      font-size: 3.5vw;
    }

    .dropdown {
      margin-right: 2.5%;
    }

    #profileLink {
      font-size: 3vw;
    }
    
    #logoutButton {
      font-size: 3vw;
    }
  }

  @media only screen and (max-width: 1500px) {
    .navLink {
      font-size: 1vw;
    }
  }

  @media only screen and (min-width: 1500px) {
    .navbar {
      border-radius: 50px;
      width: 98%;
      margin-top: 1%;
    }
  }