input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bigBoyDiv {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-top: -4vw;
  justify-content: center;
  align-items: center;
  display: flex;
}

.imgBackground {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6vw;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0;
}

.contentDiv {
  background-color: #F2D492;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  justify-content: right;
  align-items: right;
  display: inline-block;
  border-radius: 15px;
  padding: 5vw;
  margin-bottom: 5vw;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.profileheader {
  display: grid;
}

.titleDiv {
  justify-content: right;
}

.pTeg {
  display: flex;
  justify-content: left;
}

@media only screen and (max-width: 600px) {
  .pTeg {
    display: flex;
  }

  .save {
    background-color: red;
    border-radius: 10px;
    font-size: 5vw;
  }
  
  .cancel {
    border-radius: 10px;
    font-size: 5vw;
  }

  .bigBoyDiv {
    margin-top: -9vw;
  }
}

@media only screen and (min-width: 600px) {
  .pTeg {
    display: flex;
  }

  .editButton {
    padding-left: 2.3vw;
    padding-right: 2.3vw;
    padding-top: 0.5vw;
    padding-bottom:0.5vw;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: .8vw;
  }
}

.profileInputs {
  border: none;
  border-radius: 10px;
  padding: 1vw;
  background-color: #F5E0B2;
  width:100%
}

.profileLabels {
  margin-left: 0.5vw;
}

.h1 {
  font-size: 30vw;
  text-align: left;
  margin-bottom: 0%;
}

.editButton {
  padding-left: 2.3vw;
  padding-right: 2.3vw;
  padding-top: 0.5vw;
  padding-bottom:0.5vw;
  background-color: #141c23;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: .8vw;
}

.editButton:hover {
  background-color: #283845;;
}

.save {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0.5vw;
  padding-bottom:0.5vw;
  background-color: #283845;;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: .8vw;
}

.save:hover {
  background-color: rgb(0, 81, 180);
}

.cancel {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 0.5vw;
  padding-bottom:0.5vw;
  background-color: #3a546a;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: .8vw;
}

.cancel:hover {
  background-color: rgb(140, 140, 140);
}

 .delete {
  border: none;
  background-color: transparent;
  color: rgb(255, 0, 0);
}

.delete:hover {
  color: rgb(253, 115, 115);
}