
.tutorContainer { 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
}

@media (min-width: 750px) {
    .tutorContainer {
    grid-template-columns: repeat(2, 1fr);
    
    }
}

@media (min-width: 1200px) {
    .tutorContainer {
        grid-template-columns: repeat(3,1fr);
    }
    
}


