.translateContainer { 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
}

@media (min-width: 750px) {
    .translateContainer {
    grid-template-columns: repeat(2, 1fr);
    
    }
}

@media (min-width: 1200px) {
    .translateContainer {
        grid-template-columns: repeat(3,1fr);
    }
    
}

.selectContainer { 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
}

@media (min-width: 750px) {
    .selectContainer {
    grid-template-columns: repeat(2, 1fr);
    
    }
}

@media (min-width: 1200px) {
    .selectContainer {
        grid-template-columns: repeat(3,1fr);
    }
    
}

.languageContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center; 
    gap: 10px; 
  }
  
  @media (min-width: 750px) {
    .languageContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1200px) {
    .languageContainer {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .centeredText {
    text-align: center;
  }
  
  
  .centeredText p {
    margin: 0;
  }
  
  
  select {
    text-align: center;
  }
  
  
  select[name="language"] {
    margin-top: 40px; 
  }
  .translateContainer {
    margin-top: 20px; 
  }
  